
/* EN GENERAL */


p{
    font-size: 16px;
    text-align: justify;
}

h1{
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}

hr{
    width: 300px; 
    height: 18px; 
    color: rgb(172, 172, 17);
    margin: auto;
}


/* BARRE DE NAVIGATION */


.navbar{
    background-color: #262626;
}

.navbar .container{
    margin-left: 5%;
    margin-left: 5%;
}

.navbar-nav a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar-light .navbar-brand {
	color: yellow;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #262626;
    background-color: yellow;
}

.navbar-light .navbar-nav .nav-link {
	color: yellow;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
    line-height: 0.3;
    font-family: poppins;
    background: #fff;
    margin-right: 15px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}
.w-100 {
	height: 100vh;
}
@media only screen and (max-width: 767px) {
	
	.navbar-nav a {
		font-size: 14px;
        font-weight: normal;
        font-family: poppins;
	}
}

@media (max-width: 700px) {
  .navbar-nav a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .navbar .container{
    margin-left: 5%;
    margin-left: 5%;
}
}

/* FIN */


/* INFON ACCUEIL */
.hero{
    padding-top: 100px;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(images/nationale2.png);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}

.title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title h1{
    font-size: 100px;
}

.hero .btn1{
    background-color: yellow;
    border: #fff;
    border-radius: 5px;
    width: 200px;
}

.hero .btn2{
    background-color: blue;
    border: #fff;
    border-radius: 5px;
    width: 200px;
}

.btn2 strong{
    color: #fff;
}

@media (max-width: 768px) {

    .hero .btn1 strong{
        font-size: 11px;
    }

    .title h1{
        font-size: 35px;
        padding-top: 60px;
    }

    .hero{
        padding-top: 150px;
        height: 50vh;
        background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(images/nationale2.png);
        background-position: center;
        background-size: cover;
        overflow-x: hidden;
        position: relative;
    }

    .hero .btn1{
        background-color: yellow;
        border: #fff;
        border-radius: 5px;
        width: 90px;
    }
    
    .hero .btn2{
        background-color: blue;
        border: #fff;
        border-radius: 5px;
        width: 90px;
    }

    .btn2 strong{
        color: #fff;
        font-size: 11px;
    }
}


.hero a{
    text-decoration: none;
    color: #333;
    font-size: 1vw;
}
    


/* FIN INFON ACCUEIL */


/* ACTUALITE */

.actualite{
    padding-top: 70px;
}

.row .image-titre1{
    display: flex;
    align-items: center;
    margin: 20px;
    
}

.row .image-titre1 img{
    width: 120%;
    box-shadow: 1px 1px 1px #333;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.titre1 hr{
    width: 300px; 
    height: 8px; 
    color: rgb(172, 172, 17);
}

.description1 p{
    padding-top: 20px;
}

@media (max-width: 768px){
    .actualite h1{
        text-align: center;
        font-size: 20px;
    }

    .titre1 hr{
        width: 200px; 
        height: 6px; 
        color: rgb(172, 172, 17);
        margin: auto;
    }

    .actualite p {
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 20px;
    }
}

/* FIN */


/* FOOTER */

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: rgb(163, 160, 160);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 768px){
    .footer{
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: rgb(163, 160, 160);
        text-align: center;
        font-size: 10px;
    }
}


/* QUI SOMMES NOUS */

.about{
    padding-top: 100px;
}

.about h1{
    text-align: center;
    padding-top: 100px;
}

.block1 img{
    width: 100%;
    border-radius: 15px;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}

.block2{
    display: flex;
    align-items: center;
}

.about1{
    padding-top: 40px;
}

.block4{
    background-color: rgb(26, 54, 93);
    color: #fff;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}

.block3{
    display: flex;
    align-items: center;
}

@media (max-width: 768px){
    p{
        font-size: 10px;
    }

    h1{
        font-size: 25px;
    }

    h3{
        font-size: 18px;
    }
    .about11{
        display: flex;
    }
    .h1-ttitle{
        padding-top: 90px;
    }

    .block1{
        margin: auto;
        width: 70%;
    }

    .h3{
        padding-top: 20px;
    }
}

/* EQUIPE */

/* Président */
.img-carte1{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url(images/Frank.png);
    background-position: center;
    background-size: cover;
    border: 3.5px solid yellow;
    margin: auto; 
}

.img-carte2{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url(images/Gilson.png);
    background-position: center;
    background-size: cover;
    border: 3.5px solid yellow;
    margin: auto; 
}

/* Trésorier */
.img-carte3{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url(images/Vianney.png);
    background-position: center;
    background-size: cover;
    border: 3.5px solid yellow;
    margin: auto; 
}

/* Trésorier */
.img-carte4{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url(images/Thern.png);
    background-position: center;
    background-size: cover;
    border: 3.5px solid yellow;
    margin: auto; 
}

.img-carte5{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url(images/steevens.png);
    background-position: center;
    background-size: cover;
    border: 3.5px solid yellow;
    margin: auto; 
}

.img-carte6{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: yellow;
    background-position: center;
    background-size: cover;
    border: 3.5px solid yellow;
    margin: auto; 
}

.carte{
    margin: auto;
    background-color: #333;
    width: 300px;
    height: 350px;
    padding-top: 20px;
    border-radius: 20px;
    border: 3.5px solid yellow;
    
}

.profil p, h5{
    text-align: center;
    color: #fff;
}

.profil span{
    font-weight: lighter;
    font-style: italic;
}


.bureau{
    justify-content: center;
}

.rejoindre-equipe{
    padding-top: 40px;
    padding-bottom: 30px;
}

.adhésion-equipe{
    margin: auto;
    border: 2px solid yellow;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 40px;
    background-image: linear-gradient(-45deg (yellow), (#fff));
}

@media (max-width: 768px){
    .h3{
        text-align: center;
        font-size: 20px;
    }

    .img-carte1, .img-carte2, .img-carte3, .img-carte4, .img-carte5, .img-carte6{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-position: center;
        background-size: cover;
        border: 3.5px solid yellow;
        margin: auto; 
    }

    .carte{
        margin: auto;
        background-color: #333;
        width: 150px;
        height: 200px;
        padding-top: 20px;
        border-radius: 20px;
        border: 3.5px solid yellow;
        margin-bottom: 15px;
        
    }

    .profil p, h5{
        text-align: center;
        color: #fff;
        font-size: 10px;
    }
}


/* FIN EQUIPE */


/* VALEURS ET PERSPECTIVES */


/* FIN VALEURS ET PERSPECTIVES */


/* PROJET */

/* semainde de la science */
.All-projet{
    padding-top: 100px;
}

.projet{
    padding-top: 50px;
}

.projet .carousel-item{
    height: 500px;
}

.carousel{
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}

.tp123{
    align-items: center;
}

.tp-c{
    padding-top: 30px;
}

.projet .carousel-item img{
    height: 100%;
}


@media (max-width: 768px){
    .projet .carousel-item{
        height: 300px;
    }
}

/* conférences */



/* aide scolaire */
.school{
    background-color: rgb(26, 54, 93);
    padding-bottom: 50px;
}

.school1{
    padding-top: 40px;
}

.img-sco{
    width: 200px;
    height: 210px;
    margin: auto;
}

.school1 img{
    width: 100%;

}

.school1 p{
    text-align: center;
    color: rgb(26, 54, 93);
    font-weight: bold;
}

.col-sco{
    background-color: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
    .img-sco{
        width: 100px;
        height: 110px;
        margin: auto;
    }

    .school1{
        margin: auto;
        padding-top: 40px;
        width: 150px;
    }
}


/* FORMULAIRE ADHESION */

.formulaire{
    background-color: blueviolet;
}

.zone{
    background-color: yellow;
    padding-bottom: 20px;
    border-radius: 18px;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}

/* CONTACT */

.num-email p{
    font-size: 25px;
    color: thistle;
    text-align: center;
}

.contact-us{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.f-image{
    padding-top: 100px;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(images/feuille.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    position: relative;
}

.zone-message{
    background-color: #ffff0069;
    border-radius: 15px;
    padding-bottom: 8px;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}

@media (max-width :768px){
    .num-email p{
        font-size: 15px;
        color: thistle;
        text-align: center;
    }
}

/* FAIRE UN DON */

.donation{
    padding-top: 100px;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(images/donnation.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    position: relative;
}

.don{
    color: #fff;
}

/* faire un don */

.paypal-img{
    background-color: yellow;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 40px;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(255, 255, 255, 0.973);
    -moz-box-shadow: 0px 10px 49px -14px rgba(255, 255, 255, 0.973);
    box-shadow: 0px 10px 49px -14px rgba(255, 255, 255, 0.973);
    margin: auto;
}

.cont-paypal, .link-pay{
    text-align: center;
    font-weight: bold;
}


/* EXEMPLE DE CARTE */

