
/* EN GENERAL */

p{
    font-size: 20px;
    text-align: justify;
}


/* INFON ACCUEIL */
.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(images/nationale2.png);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}

.title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title h1{
    font-size: 100px;
}

.hero .btn{
    background-color: yellow;
    width: 200px;
}

@media (max-width: 768px) {
    .hero .btn{
        background-color: rgb(0, 255, 76);
        width: 200px;
    }

    .title h1{
        font-size: 50px;
    }

    .hero{
        height: 50vh;
        background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(images/nationale2.png);
        background-position: center;
        background-size: cover;
        overflow-x: hidden;
        position: relative;
    }
}


.hero a{
    text-decoration: none;
    color: #333;
    font-size: 1vw;
}
    


/* FIN INFON ACCUEIL */


/* ACTUALITE */

.actualite{
    padding-top: 70px;
}

.row .image-titre1{
    display: flex;
    align-items: center;
    margin: 20px;
}

.row .image-titre1 img{
    width: 120%;
    box-shadow: 1px 1px 1px #333;
    border-radius: 10px;
}

.titre1 hr{
    width: 300px; 
    height: 8px; 
    color: rgb(172, 172, 17);
}

.description1{
    padding-top: 20px;
}

@media (max-width: 768px){
    .actualite h1{
        text-align: center;
        font-size: 20px;
    }

    .titre1 hr{
        width: 200px; 
        height: 6px; 
        color: rgb(172, 172, 17);
        margin: auto;
    }

    .actualite p: {
        text-align: center;
        padding-top: 20px;
    }
}

/* FIN */


/* FOOTER */

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: rgb(163, 160, 160);
    text-align: center;
}

@media (max-width: 768px){
    .footer{
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: rgb(163, 160, 160);
        text-align: center;
        font-size: 10px;
    }
}


